.ferment:first-of-type {
  padding-block-end: 1.5rem;
}
.ferment:last-of-type:not(:only-child) {
  padding-block-start: 1.5rem;
}
.ferment:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}
.ferment:not(:last-of-type, :first-of-type) {
  padding-block: 1.5rem;
}
.ferment-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
  padding-block-end: 1rem;
}
.ferment-tagged::before {
  position: absolute;
  inset: -0.5rem auto auto -0.5rem;
  display: inline-block;
  font-family: "Iconify Explorer Font" !important;
  font-size: 1.15rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e00a";
  color: var(--color);
}
.ferment-tagged h3:empty + div {
  padding-inline-start: 0.75rem;
}
:where(.ferment-heading, .ferment-relative-time, .ferment-date, .ferment-options) {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
:where(.ferment-heading, .ferment-date) {
  flex-wrap: wrap;
}
.ferment-header h3 {
  padding: 0.25rem 1rem;
  background: var(--calc-output-background-color);
  margin: 0;
}
.ferment button {
  font-size: var(--font-size-sm);
}
.ferment button:where([data-share], [data-delete='prompt']),
.ferment-header h3:empty + button {
  margin-inline: auto 0;
}
.ferment-details {
  padding-block: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.ferment-date {
  font-size: var(--font-size-sm);
}
.ferment-date time + time:not([hidden])::before {
  display: inline-block;
  content: "-";
  text-align: center;
  width: 1rem;
}
.ferment button,
.ferment-date > div,
.ferment-started {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.ferment {
  position: relative;
}
.ferment *:not(kay-icon, input, button):empty {
  display: none;
}
.ferment-details li > div > span:first-child {
  font-size: var(--font-size-lg);
  font-weight: 700;
}
.ferment-tagged h3:empty + time {
  padding-inline-start: 1rem;
}
.ferment-notes {
  margin: 0;
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
}
[data-ferment] {
  font-size: var(--font-size-sm);
}
[data-ferment]:not(:empty)::before {
  content: attr(data-ferment);
  font-weight: 700;
}
.ferment-unit {
  color: var(--link-color);
}
.ferment-daterange {
  display: flex;
  gap: 1rem;
}
.ferment-daterange > div {
  flex-basis: 50%;
}
.ferment-delete-options {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 0.5rem;
}
.ferment-delete-options p {
  font-size: var(--font-size-sm);
  font-style: italic;
  text-align: right;
  margin-block: 0;
}
.ferment-notify:not([hidden]) {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--font-size-sm);
}
.ferment-notify input {
  accent-color: var(--link-color);
}
[data-delete="prompt"][aria-expanded="true"],
[data-delete="prompt"][aria-expanded="false"] + .ferment-delete-options {
  display: none;
}
.ferment-import {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}
.ferment-import:not(:last-child) {
  border-block-end: 1px solid var(--border-color);
  padding-block-end: 1rem;
}
.ferment-key {
  flex-basis: 30%;
  font-weight: 700;
}
.ferment-value {
  flex-basis: calc(70% - 1rem);
}