---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Calculator from '../components/Calculator.astro';
import GithubStar from '../components/GithubStar.astro';
import MyFermentsButton from '../components/MyFermentsButton.astro';
import MyFerments from '../components/dialogs/MyFerments.astro';
import EditOrSaveFerment from '../components/dialogs/EditOrSaveFerment.astro';
import ConfirmDeleteAll from '../components/dialogs/ConfirmDeleteAll.astro';
import ImportFerments from '../components/dialogs/ImportFerments.astro';
---

<Layout title="Brine Calculator | Lacto-fermentation">
	<main>
		<section aria-labelledby="pageHeading">
			<About />
		</section>
		<section aria-label="Brine Calculator">
			<Calculator />
			<MyFermentsButton />
		</section>
	</main>
	<!-- Start Dialogs -->
	<MyFerments />
	<EditOrSaveFerment 
		action = "save" 
		brine="brine" 
		weight="weight" 
		salt="dalt" 
		dateEnd="dateEnd" 
		fermentName="fermentName" 
		notes="notes" 
		color="color" />
	<EditOrSaveFerment 
		action = "edit" 
		brine="editBrine" 
		weight="editWeight" 
		salt="editSalt"  
		dateEnd="editDateEnd" 
		fermentName="editFermentName" 
		notes="editNotes" 
		color="editColor" />
	<ConfirmDeleteAll />
	<ImportFerments />
	<!-- End Dialogs -->
	<GithubStar />
</Layout>

<style>
	section:first-child {
		flex-basis: 60%;
		padding-block-end: 3rem;
	}
	section:last-child {
		flex-basis: 40%;
	}
	main {
		padding: 4rem;
		display: flex;
		justify-content: flex-end;
		gap: 2rem;
		flex-grow: 1;
	}
	/* sm and down */
	@media (max-width: 764px) {
		main {
			padding: 0;
			display: flex;
			align-items: center;
			flex-direction: column-reverse;
		}
		section:first-child {
			padding-inline: 1rem;
		}
	}
	/* pwa view */
	@media all and (display-mode: standalone) {
		main {
			padding: 0;
			display: block;
		}
		section {
			margin-inline: auto;
		}
		section:first-child {
			display: none;
		}
	}
</style>
