<h1 id="pageHeading">What is <abbr title="Lactobacillus">Lacto</abbr>-fermentation?</h1>
<p>Lacto-fermentation is the process of taking beneficial bacteria that are naturally occurring on fruits and vegetables and converting them to lactic acid using a salt brine.</p>
<h2>Examples of lacto-fermented foods</h2>
<ul>
	<li>sauerkraut</li>
	<li>coffee</li>
	<li>chocolate</li>
	<li>salami</li>
</ul>

<style>
section > * {
	margin-block-start: 1em;
}
h1 {
	font-size: clamp(1.75rem, 4vw, 2.25rem);
	line-height: 1.1;
}
h2 {
	font-size: clamp(1.15rem, 2vw, 1.5rem);
}
</style>
