---
import InstallPwa from "./InstallPwa.astro";
---

<h1 id="pageHeading">What is <abbr title="Lactobacillus">Lacto</abbr>-fermentation?</h1>
<p>Lacto-fermentation is the process of taking beneficial bacteria that are naturally occurring on fruits and vegetables and converting them to lactic acid.</p>
<div class="hide-for-pwa">
	<h2>Why ferment?</h2>
	<p>Fermented foods are...</p>
	<ul>
		<li>...easier on digestive system</li>
		<li>...richer in nutrients</li>
	</ul>
	<p>Lacto-fermentation...</p>
	<ul>
		<li>...preserves food safely</li>
		<li>...is easy</li>
		<li>...is fun</li>
	</ul>
</div>
<div id="installPwa" class="has-pwa">
	<h2>Like this calculator?</h2>
	<p>Try the app. It's fast, simple, and <strong>no sign-in</strong> is required.</p>
	<InstallPwa />
</div>

<style>
section > * {
	margin-block-start: 1em;
}
h1 {
	font-size: clamp(1.75rem, 4vw, 2.25rem);
	line-height: 1.1;
}
h2 {
	font-size: clamp(1.15rem, 2vw, 1.5rem);
}
.has-pwa {
	display: none !important;
}
</style>

<script>
	// Initialize deferredPrompt for use later to show browser install prompt.
  let deferredPrompt;
	
  window.addEventListener('beforeinstallprompt', (e) => {
		// Prevent the mini-infobar from appearing on mobile
    // e.preventDefault();

    deferredPrompt = e;

    document.getElementById("installPwa").classList.remove("has-pwa");
  });
	
	const pwaButton = document?.getElementById("pwaButton");

	pwaButton.addEventListener("click", async () => {
		// Show the install prompt
		deferredPrompt.prompt();

		// Wait for the user to respond to the prompt
		const { outcome } = await deferredPrompt.userChoice;

		document.getElementById("installPwa").classList.toggle("has-pwa", outcome === "accepted" ? true : false);

		deferredPrompt = null;
	});
		

</script>