---
import InstallPwa from "./InstallPwa.astro";
---

<h1 id="pageHeading">What is <abbr title="Lactobacillus">Lacto</abbr>-fermentation?</h1>
<p>Lacto-fermentation is the process of taking beneficial bacteria that are naturally occurring on fruits and vegetables and converting them to lactic acid.</p>
<div class="hide-for-pwa">
	<h2>Why ferment?</h2>
	<p>Fermented foods are...</p>
	<ul>
		<li>...easier on digestive system</li>
		<li>...richer in nutrients</li>
	</ul>
	<p>Lacto-fermentation...</p>
	<ul>
		<li>...preserves food safely</li>
		<li>...is easy</li>
		<li>...is fun</li>
	</ul>
</div>
<div id="installPwa" class="has-pwa" hidden>
	<h2>Like this calculator?</h2>
	<p>Try the app. It's fast, simple, <strong>does not track your data</strong>, and <strong>no sign-in</strong> is required.</p>
	<InstallPwa />
</div>

<style>
section > * {
	margin-block-start: 1em;
}
h1 {
	font-size: var(--font-size-xl);
	line-height: 1.1;
}
h2 {
	font-size: var(--font-size-lg);
}
</style>
