---
import Share from '../components/Share.astro';
---

<div class="calc" id="calculator">
  <div class="calc-inputs">
    <div class="calc-group">
      <label for="brine">Brine</label>
      <input 
      id="brine" 
      type="number" 
      name="brine" 
      value="2.2" 
      min="2" 
      max="10" 
      aria-describedby="brineHelper" />
      <span class="calc-unit" aria-hidden="true">%</span>
      <p class="calc-text" data-validate="field" aria-live="polite" role="alert">For a safer ferment, please choose a value between 2-10%.</p>
      <p class="calc-text" id="brineHelper">Determine the strength of the brine. Varies per recipe and personal taste.</p>
    </div>
    <div class="calc-group">
      <label for="weight">Weight</label>
      <input 
      id="weight" 
      type="number" 
      name="weight" 
      value="682" 
      min="1" 
      aria-describedby="weightHelper" />
      <span class="calc-unit" aria-hidden="true"><span data-label="unit">grams</span></span>
      <p class="calc-text" id="weightHelper">Combined weight of vegetables and water in <span data-label="unit">grams</span>.</p>
    </div>
  </div>
  <div class="calc-inputs">
    <div class="calc-group">
      <label for="category">Food category <small>(optional)</small></label>
      <select name="category" id="category">
        <option value="">Select...</option>  
        <option value="2">Green Beans, Cauliflower, Potatoes, Tomatoes - 2%</option>  
        <option value="2.2">Beets, Broccoli, Cabbage, Carrots - 2.2%</option>  
        <option value="3">Garlic, Okra - 3%</option>  
        <option value="4">Pepper - 4%</option>
        <option value="5">Cucumber, Onions, Radish - 5%</option>
        <option value="10">Olives - 10%</option>
      </select>
    </div>
    <div class="calc-group" role="group" aria-labelledby="unitLegend">
      <div class="label" id="unitLegend">Unit <small>(optional)</small></div>
      <div class="radio-group">
        <input 
        id="unitGrams" 
        type="radio" 
        name="unit"
        value="grams" 
        checked />
        <label for="unitGrams">Grams</label>
      </div>
      <div class="radio-group">
        <input 
        id="unitOunces" 
        type="radio" 
        name="unit" 
        value="ounces" />
        <label for="unitOunces">Ounces</label>
      </div>
    </div>
  </div>
  <div class="calc-output">
    <label for="salt">Salt required</label>
    <output id="salt" for="brine weight" name="salt">1</output>
    <span data-label="unit">grams</span>
  </div>
  <div class="calc-save-share">
    <button type="button" class="btn-default" aria-controls="saveFermentDialog" aria-haspopup="dialog">
      <kay-icon class="carbon:star-filled" aria-hidden="true"></kay-icon> Add to My Ferments
    </button>
    <Share />
  </div>
</div>

<style>
  [type="radio"] {
    accent-color: var(--link-color);
    width: 1rem;
    height: 1rem;
  }
  .calc {
    margin: 0;
    padding: 0;
    border: 0;
    display: grid;
    gap: 0.5rem;
  }
  .calc-save-share {
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .calc-inputs {
    order: 2;
  }
  .calc-output {
    position: relative;
    text-align: center;
    padding: 2rem 1rem 3.5rem 1rem;
    border-radius: 0.5rem;
    display: grid;
    align-content: center;
    gap: 1rem;
    background: var(--calc-output-background-color);
    -webkit-mask: var(--mask-waves);
    mask: var(--mask-waves);
  }
  .calc-output label {
    font-size: var(--font-size-lg);
  }
  .calc-inputs {
    display: flex;
    gap: 0.5rem;
  }
  select {
    padding: 0.45rem 0;
    border: 0;
    border-bottom: 1px solid var(--border-color);
    background: var(--calc-group-background-color);
    color: var(--text-color);
    inline-size: 100%;
    font-size: var(--font-size-md);
  }
  .radio-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  input[type="radio"] {
    margin: 0;
  }
  .calc-group {
    flex-basis: 50%;
    padding: 0.45rem 0.5rem;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    background-color: var(--calc-group-background-color);
  }
  .calc-group:focus-within {
    outline: auto;
  }
  .calc-unit {
    font-size: var(--font-size-md);
    font-weight: 700;
    color: var(--link-color);
  }
  input[type="number"] {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--border-color);
    inline-size: 5rem;
    color: var(--text-color);
    font-size: var(--font-size-lg);
  }
  input:focus-visible {
    outline: 0;
  }
  :where(label, .label) {
    font-size: var(--font-size-md);
    display: block;
  }
  output {
    font-weight: 500;
    font-size: var(--font-size-xxl);
  }
  :where(.calc-text, small) {
    font-size: var(--font-size-sm);
  }
  .calc-group:has(:out-of-range:not(:focus)),
    input:out-of-range:not(:focus) {
    border-color: var(--error-color);
  }
  /* sm and down */
	@media (max-width: 764px) {
    .calc-inputs {
      padding-inline: 1rem;
    }
    .calc-output {
      border-radius: 0;
    }
  }
  /* tablet range */
  @media (min-width: 764px) and (max-width: 1000px) and (display-mode: browser) {
    .calc-inputs {
      flex-direction: column;
    }
  }
  /* pwa view */
	@media all and (display-mode: standalone) {
    .calc-inputs {
      padding-inline: 1rem;
    }
		.calc-output {
      padding: 1rem;
      border-radius: 0;
      block-size: 25svh;
    }
    output {
      font-size: var(--font-size-xl);
    }
  }
</style>
