<form id="calculator">
  <fieldset>
    <legend id="calculatorLegend">Brine Calculator</legend>
    <div class="form-inputs">
      <div class="form-group">
        <label for="brinePercent">Brine percent</label>
        <input 
        id="brinePercent" 
        type="number" 
        name="brinePercent" 
        value="2.2" 
        min="2" 
        max="5" 
        aria-describedby="brinePercentHelper" />
        <span class="form-type" aria-hidden="true">%</span>
        <p class="form-text" data-validate="field" aria-live="polite" role="alert">For your safety, choose a value between 2-5%.</p>
        <p class="form-text" id="brinePercentHelper">Determine the strength of the brine. Varies per recipe and personal taste.</p>
      </div>
      <div class="form-group">
        <label for="weight">Weight</label>
        <input 
        id="weight" 
        type="number" 
        name="weight" 
        value="682" 
        aria-describedby="weightHelper" />
        <span class="form-type" aria-hidden="true">g/oz</span>
        <p class="form-text" id="weightHelper">Combined weight of vegetables and water in grams or ounces.</p>
      </div>
    </div>
    <div class="form-output">
      <label for="salt">Salt required</label>
      <output id="salt" for="brinePercent weight" name="result">1</output>
      <span>grams / ounces</span>
    </div>
  </fieldset>
</form>

<style>
  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    display: grid;
    gap: 1rem;
  }
  legend {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
  }
  .form-output {
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    display: grid;
    gap: 1rem;
    background: 
      linear-gradient(
        to bottom right,
        hsl(329.03, 100%, 93.92%) 0%,
        hsl(329.03, 100%, 93.92%) 8.1%,
        hsl(327.1, 100%, 93.92%) 15.5%,
        hsl(324.38, 100%, 93.73%) 22.5%,
        hsl(322.5, 100%, 93.73%) 29%,
        hsl(318.75, 100%, 93.73%) 35.3%,
        hsl(314.55, 100%, 93.53%) 41.2%,
        hsl(310.91, 100%, 93.53%) 47.1%,
        hsl(307.06, 100%, 93.33%) 52.9%,
        hsl(303.53, 100%, 93.33%) 58.8%,
        hsl(298.29, 100%, 93.14%) 64.7%,
        hsl(294.86, 100%, 93.14%) 71%,
        hsl(293.14, 100%, 93.14%) 77.5%,
        hsl(290, 100%, 92.94%) 84.5%,
        hsl(288.33, 100%, 92.94%) 91.9%,
        hsl(288.33, 100%, 92.94%) 100%
      );
  }
  .form-output label {
    font-size: clamp(1.25rem, 4vw, 1.5rem);
  }
  .form-inputs {
    order: 2;
    display: flex;
    gap: 0.5rem;
  }
  /* tablet range */
  @media (min-width: 764px) and (max-width: 1000px) {
    .form-inputs {
      flex-direction: column;
    }
  }
  .form-inputs label {
    font-size: clamp(1rem, 2vw, 1.15rem);
    display: block;
  }
  .form-text {
    font-size: clamp(0.75rem, 4vw, 0.8rem);
  }
  .form-group {
    flex-basis: 50%;
    padding: 0.45rem 0.5rem;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    background-color: hsl(295, 75%, 97%);
  }
  .form-group:focus-within {
    outline: auto;
  }
  .form-type {
    font-size: clamp(1rem, 4vw, 1.25rem);
    font-weight: 700;
    color: hsl(295, 22%, 59%);
  }
  output {
    font-weight: 500;
    font-size: clamp(2.75rem, 4vw, 4rem);
  }
  input {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--border-color);
    inline-size: 5rem;
    font-size: clamp(1.35rem, 4vw, 1.75rem);
    color: var(--text-color);
  }
  input:focus-visible {
    outline: 0;
  }
  input:out-of-range:not(:focus) {
    border-color: hsl(0, 100%, 35%);
  }
  input:out-of-range:not(:focus) ~ [data-validate="field"] {
    display: block;
  }
  [data-validate="field"] {
    display: none;
    color: hsl(0, 100%, 35%);
  }
</style>

<script>
const calculator = document.getElementById("calculator");
const brinePercent = document.getElementById("brinePercent");
const weight = document.getElementById("weight");
const salt = document.getElementById("salt");
const calculate = () => salt.innerText = ((brinePercent.value * weight.value) / 100).toFixed(2);

calculator.addEventListener("input", () => calculate());
document.addEventListener("DOMContentLoaded", () => calculate());
document.addEventListener("click", e => {
  if (!e.target.matches("input[type=number]")) return;
  e.target.select();
})
</script>
