<footer>
  <p>This little timesaver was created by <a href="https://kaylapratta11y.github.io/resume/" target="_blank">Kayla Pratt</a>.</p>
</footer>

<style>
  footer {
    padding-inline: 1rem;
    text-align: center;
  }
  a {
    color: var(--link-color);
  }
  p {
    font-size: var(--font-size-sm);
    margin-inline: auto;
  }
</style>