<div>
  <a 
  class="github-button" 
  href="https://github.com/KaylaPrattA11y/lacto-calculator" 
  data-color-scheme="no-preference: light; light: light; dark: dark;" 
  data-icon="octicon-star" 
  aria-label="Star KaylaPrattA11y/lacto-calculator on GitHub">Star</a>
</div>
<style>
  div {
    position: fixed;
    z-index: 1;
    inset: 0.5rem 0.5rem auto auto;
  }
</style>