<button type="button" id="pwaButton">Install App</button>

<style>
  button {
		border: 0;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: clamp(1.15rem, 2vw, 1.5rem);
		color: var(--text-color);
		background: var(--calc-output-background-color);
    cursor: pointer;
	}
  button::before {
    display: inline-block;
    margin-inline-end: 0.5rem;
    content: url("/lacto-calculator/img/download.svg");
    width: clamp(1.15rem, 2vw, 1.5rem);
    filter: invert(var(--svg-invert));
  }
</style>

<script>
	// Initialize deferredPrompt for use later to show browser install prompt.
  let deferredPrompt;
	
  window.addEventListener('beforeinstallprompt', (e) => {

    deferredPrompt = e;

    document.getElementById("installPwa").removeAttribute("hidden");
  });
	
	const pwaButton = document?.getElementById("pwaButton");

	pwaButton.addEventListener("click", async () => {
		// Show the install prompt
		deferredPrompt.prompt();

		// Wait for the user to respond to the prompt
		const { userChoice } = await deferredPrompt;

		document.getElementById("installPwa").classList.toggle("has-pwa", userChoice === "accepted" ? true : false);

		deferredPrompt = null;
	});
		
</script>
