<div class="button-group">
  <button type="button" aria-controls="myFermentsDialog" aria-haspopup="dialog" class="btn-primary">
    <kay-icon class="carbon:star" aria-hidden="true"></kay-icon> 
    View My Ferments
  </button>
</div>


<style>
  .btn-primary {
    margin: 1rem auto 0
  }
</style>
